.top-nav {   
    display: flex;
    padding: 10px;
    list-style-type: none;
}

li {
    padding: 10px;
}

#hamburger {
    float: right;

}

#googlepic {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}